<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Websockets drawing app</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css" />
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script type="text/javascript" src="upload.js"></script>

</head>

<body>
    <p align="center">
        <canvas id="canvas">
        </canvas>
    </p>


    <div id="live-chat">
        <header id="header_chat" class="clearfix" onclick="hideDragAndDrop()">
            <h4>Random User</h4>
        </header>
        <div class="chat">

            <div class="chat-history">
                <div class="d-flex justify-content-center">

                    <div id="progress" class="spinner-border" role="status" style="display: none; z-index: 1000">
                        <span class="sr-only">Loading...</span>
                    </div>

                </div>
            </div>
            <hr>

            <form id="submit-form">
                <fieldset>
                    <input id="msg-input" type="text" placeholder="Enter a message..." autofocus>
                    <input type="hidden">
                    <i id="send" class="fas fa-share send"></i>
                    <i class="fa fa-image" onclick="showDragAndDropWindos()"></i>
                    <i class="fas fa-map-marker-alt"></i>
                </fieldset>
            </form>

        </div>
    </div>


    <form id="filesfrm" action="/user/upload" method="post" onsubmit="return submitFilesForm(this);" style="visibility:hidden;">
        <input type="file" name="filesfld" id="filesfld" accept="image/*" onchange="submitFilesForm(this.form);"
            multiple />
        <label for="filesfld" id="fileslbl"
            ondragover="stopDefault(event);dragOver(this, 'Drop the images to upload them.');"
            ondragenter="stopDefault(event);dragOver(this, 'Drop the images to upload them.');"
            ondragleave="stopDefault(event);dragLeave(this);"
            ondrop="stopDefault(event);dragLeave(this);addFilesAndSubmit(event);">Click to choose images or drag-n-drop
            them here</label>
    </form>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script type="text/javascript" src="client.js"></script>
    <script type="text/javascript" src="DrawController.js"></script>

</body>

</html>